<div class="wrap">
  <div class="topbar-nav">
    <div class="topbar-nav-inner">
      <span class="top-nav-handler">进入账号</span>
      <span class="top-nav-handler">登录/注册</span>
    </div>
  </div>
  <div class="wrap-inner">
    <div class="bolk-header">
        <div class="logo">

        </div>
        <div class="navs">
            <span class="nav active">首页</span>
            <span class="nav">系列</span>
            <span class="nav">文章</span>
            <span class="nav">加入我们</span>
        </div>
        <div class="searchcont">
            <i class="iconfont icon-search"></i>
            <input type="text" class="searchcont-text"/>
            <i class="iconfont icon-user"></i>
        </div>
    </div>
  </div>
</div>
